<div class="container">
  <section class="sidebar">
    <h1 class="section1">Bienvenido a la herramienta de registro Hubbec!</h1>
    <img class="section" src="../../../../assets/hubbec-logo.png" alt="">
    <article class="section1">
      <h3>No detengas tu negocio. </h3>
      <h3>Empieza a vender en linea de forma rápida y segura.</h3>
      <br>
      <h3>Es otra forma de contribuir con la emergencia sanitaria y facilitarle  la vida a tus clientes.</h3>
    </article>
    <img class="section" src="../../../../assets/we-are-one.png" alt="">
  </section>
  <section class="login-form">
    <div class="box register">
      <p>¿Ya te encuentras registrado?</p>
      <a (click)="goLogin()">Inicia sesión</a>
    </div>
    <app-user-form [isRegister]="true"></app-user-form>
    <div class="register">
      <a href="">¿Necesitas ayuda?</a>
    </div>
  </section>
</div>
